body{
    background-color: rgb(210, 239, 250);}
h1{
    font-size: 75px;
    text-align: center; 
    color: brown;}
.all1{
    border: 5px solid blue;
    text-align: center; 
    color: green;
}
a{
    border: 2px solid tomato;
    text-decoration: none;
}
button{
    border: 10pt;}
img{
    width: 25%;
    height: 50%;
}
.scr{
    text-align: center;
}